@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection { /* Code for Firefox */
    color: #000000;
    background: #1391ff;
  }
  
  ::selection {
    color: #000000;
    background: #2ea3f6;
  }