@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: #ffffff35;
}

::selection {
  color: #ffffff;
  background: #ffffff35;
}